@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Orders"];
    var company = ViewBag.Company;
}

<style>
    button.details-control {
        background: url('../images/details_open.png') no-repeat center center;
        cursor: pointer;
        border: 0px;
    }

    tr.shown button.details-control {
        background: url('../images/details_close.png') no-repeat center center;
    }
</style>

<div class="card card-flush">
    <!--begin::Card header-->
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="@_localizer["Search"] @_localizer["Order"]" />
            </div>
            <!--end::Search-->
        </div>
        <!--end::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <!--begin::Flatpickr-->
            <div class="input-group w-250px">
                <input class="form-control form-control-solid rounded rounded-end-0" placeholder="Pick date range" id="kt_ecommerce_sales_flatpickr" />
                <button class="btn btn-icon btn-light" id="kt_ecommerce_sales_flatpickr_clear">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr088.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor" />
                            <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </button>
            </div>
            <a href="#" class="btn btn-primary" id="exportButton">Export</a>
            <!--begin::Add product-->
            <a href="~/Order/Purchase" class="btn btn-primary">@_localizer["Create"] @_localizer["Invoice"]</a>
            <!--end::Add product-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_purchase_table">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                    <th class="min-w-100px">@_localizer["Order"] @_localizer["Id"]</th>
                    <th class="min-w-175px">@_localizer["Supplier"]</th>
                    <th class="min-w-175px">@_localizer["Balance"]</th>
                    <th class="text-end min-w-100px">@_localizer["Total"]</th>
                    <th class="text-end min-w-100px">@_localizer["Date"] @_localizer["Added"]</th>
                    <th class="text-end min-w-100px">@_localizer["Date"] @_localizer["Modified"]</th>
                    <th class="text-end min-w-100px">@_localizer["Actions"]</th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="fw-bold text-gray-600">
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>

@if (company.Printer.ToLower() == "thermal")
{
    <div id="invoice-POS" style="display:none;background-color: white !important; margin-bottom: 0px !important;padding:3px;">
        <center>
            <h2 style="text-align: center;margin-top: 0px;">@_localizer["Invoice"]</h2>
            @*<div class="info" style="margin-top: -10px; margin-bottom: -20px;">
                    <img src="/logo2.jpeg" style="width:150px;height:150px" alt="">
                </div>*@
            <!--End Info-->
            <h3 style="text-align: center;">@company.Name</h3>
        </center>
        <!--End InvoiceTop-->
        <hr style="color:black;font-weight:boder; margin-top: 0px; margin-bottom: 0px;">

        <!--End Invoice Mid-->
        <!-- Start of Invoice Header -->
        <table style="margin-top: -3px;width: 100%;background-color:#ebdcdc !important;font-size:13px;">
            <tr>
                <td style="text-align:right;width:50%"><b>@_localizer["Company"] @_localizer["Reg"] #</b></td>
                <td style="text-align:left;width:50%">@company.CrNumber</td>
            </tr>
            <tr>
                <td style="text-align:right;width:50%"><b>@_localizer["Tax"] #</b></td>
                <td style="text-align:left;width:50%">@company.TaxNumber</td>
            </tr>
            <tr style="background-color:white;">
                <td colspan="2" style="text-align:center; background-color:white;" id="orderTime"></td>
            </tr>
            <tr style="background-color:white;">
                <td style="background-color:white;width:50%;">@_localizer["Order"] #</td>
                <td style="text-align:right;background-color:white;width:50%;" id="orderId"></td>
            </tr>
            <tr style="background-color:white;">
                <td style="background-color:white;width:50%;">@_localizer["Invoice"] #</td>
                <td style="text-align:right;background-color:white;width:50%;" id="invNum"></td>
            </tr>
        </table>
        <hr style="color:black;font-weight:boder; margin-bottom: 0px;">
        <!-- End of Invoice Header -->

        <div id="bot" style="margin-bottom: 5px !important">
            <div id="table">
                <table class="contentTable" style="width: 100%;border:1px solid black;border-collapse: collapse" id="tbl_data">
                    <thead>
                        <tr class="tblstyle" style="background-color:#ebdcdc;border:1px solid black">
                            <th class="tblstyle" style="width: 55%; text-align:center !important">@_localizer["Item"] @_localizer["Name"]</th>
                            <th class="tblstyle" style="width: 15%; text-align:center !important">@_localizer["Rate"]</th>
                            <th class="tblstyle" style="width: 15%; text-align:center !important">@_localizer["Qty"]</th>
                            <th class="tblstyle" style="width: 15%;text-align:center !important">@_localizer["Amount"]</th>
                        </tr>
                    </thead>
                    <!-- End of table Header -->
                    <tbody style="background-color:white; font-size:13px;">
                    </tbody>
                </table>
                <br>

                <table style="margin-top: -13px;width: 100%;">
                    <tbody>
                        <tr class="tabletitle">
                            <td style="font-weight: bold;" id="customerName">
                            </td>
                            <td class="payment">
                                <h4></h4>
                            </td>
                            <td style="font-weight: bold;">
                                @_localizer["Total"] @_localizer["Discount"]:
                            </td>
                            <td class="payment" id="totalDisc" style="text-align:right;">
                            </td>
                        </tr>
                    <tbody>
                        <tr class="tabletitle">
                            <td style="font-weight: bold;" id="customerName">
                            </td>
                            <td class="payment">
                                <h4></h4>
                            </td>
                            <td style="font-weight: bold;">
                                @_localizer["Total"] @_localizer["Amount"]:
                            </td>
                            <td class="payment" id="totalPay" style="text-align:right;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--End Table-->
            <div id="legalcopy" style="margin-top: -20px !important; margin-bottom: 0px !important;">
                <h4 style="text-align:center;">@company.ThankyouNote</h4>
                <h5 style="text-align: center; margin-top: -18px;">Powered By .net</h5>
            </div>
            <div style="text-align:center;">
                <img id="qrCode" alt="" style="height:150px;width:150px" />
            </div>
        </div>
    </div>
}
else
{
    <div class="post d-flex flex-column-fluid" style="display:none !important;" id="invoice-POS">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!-- begin::Invoice 3-->
            <div class="card">
                <!-- begin::Body-->
                <div class="card-body py-20">
                    <!-- begin::Wrapper-->
                    <div class="mw-lg-950px mx-auto w-100">
                        <!-- begin::Header-->
                        <div class="d-flex justify-content-between flex-column flex-sm-row mb-19">
                            <h4 class="fw-boldest text-gray-800 fs-2qx pe-5 pb-7">@company.Name - @_localizer["INVOICE"]</h4>
                            <img id="qrCode" alt="" style="height:150px;width:150px" />
                            <!--end::Logo-->
                            <div style="text-align:right !important;margin-top:-29%">
                                <!--begin::Logo-->
                                <a href="#">
                                    <img alt="Logo" src="~/CompanyLogo/@company.Logo" style="text-align:right !important;width:150px" />
                                </a>
                                <!--end::Logo-->
                                <!--begin::Text-->
                                <div class="text-sm-end fw-bold fs-4 text-muted mt-7">
                                    <div>@_localizer["Company"] @_localizer["Reg"]# <span>@company.CrNumber</span></div>
                                    <div>@_localizer["Tax"]# <span id="taxNum">@company.TaxNumber</span></div>
                                </div>
                                <!--end::Text-->
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="pb-12">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column gap-7 gap-md-10">
                                <!--begin::Message-->
                                <div class="fw-bolder fs-2" id="customerName">
                                    @*Dear Emma Bold
                                        <span class="fs-6" id="customerEmail">(emma@intenso.com)</span>,*@
                                    <br />
                                    <span class="text-muted fs-5">@company.ThankyouNote</span>
                                </div>
                                <!--begin::Message-->
                                <!--begin::Separator-->
                                <div class="separator"></div>
                                <!--begin::Separator-->
                                <!--begin::Order details-->
                                <div class="d-flex justify-content-between flex-column">
                                    <div class="table-responsive mb-9">
                                        <table class="table align-middle gy-5 fw-bolder mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-muted fw-bolder" style="padding-top:0px; padding-bottom:0px !important">@_localizer["Order"] @_localizer["Id"]</th>
                                                    <th class="text-muted fw-bolder" style="text-align:center;padding-top:0px;padding-bottom:0px !important">@_localizer["Date"]</th>
                                                    <th class="text-muted fw-bolder" style="text-align:right;padding-top:0px;padding-bottom:0px !important">@_localizer["Invoice"] @_localizer["Id"]</th>
                                                </tr>
                                                <tr>
                                                    <th class="fs-5" style="padding-top:0px;" id="orderId">#14534</th>
                                                    <th class="fs-5" style="text-align:center;padding-top:0px;" id="invDate">30 March, 2022</th>
                                                    <th class="fs-5" style="text-align:right;padding-top:0px;" id="invNum">#INV-000414</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                                <!--end::Order details-->
                                <!--begin:Order summary-->
                                <div class="d-flex justify-content-between flex-column">
                                    <!--begin::Table-->
                                    <div class="table-responsive border-bottom mb-9">
                                        <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                                            <thead>
                                                <tr class="border-bottom fs-6 fw-bolder text-muted">
                                                    <th class="min-w-175px pb-2">@_localizer["Items"]</th>
                                                    <th class="min-w-80px text-end pb-2">@_localizer["Price"]</th>
                                                    <th class="min-w-80px text-end pb-2">@_localizer["QTY"]</th>
                                                    <th class="min-w-100px text-end pb-2">@_localizer["Total"]</th>
                                                </tr>
                                            </thead>
                                            <tbody class="fw-bold text-gray-600" id="itemsBody">
                                            </tbody>
                                            <tfoot>
                                                <!--begin::Subtotal-->
                                                <tr>
                                                    <td colspan="3" class="text-end">@_localizer["Total"] @_localizer["Disc"]</td>
                                                    <td class="text-end" id="totalDisc">$264.00</td>
                                                </tr>
                                                <!--end::Subtotal-->
                                                <!--begin::VAT-->
                                                <tr>
                                                    <td colspan="3" class="text-end">@_localizer["VAT"] (0%)</td>
                                                    <td class="text-end" id="tax">$0.00</td>
                                                </tr>
                                                <!--end::VAT-->
                                                <!--begin::Grand total-->
                                                <tr>
                                                    <td colspan="3" class="fs-3 text-dark fw-bolder text-end">@_localizer["Grand"] @_localizer["Total"]</td>
                                                    <td class="text-dark fs-3 fw-boldest text-end" id="grandTotal">$269.00</td>
                                                </tr>
                                                <!--end::Grand total-->
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <!--end:Order summary-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!-- end::Wrapper-->
                </div>
                <!-- end::Body-->
            </div>
            <!-- end::Invoice 1-->
        </div>
        <!--end::Container-->
    </div>
}


@section Scripts{
    <script src="~/js/utils/datatable.js"></script>
    <script>
        var printerSize = '@company.Printer';
    </script>
    <script src="~/js/pages/purcahseOrdes.js"></script>
}