@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@model POS.DataAccessLayer.Models.Supplier.SupplierTransaction

@{
    ViewData["Title"] = "Supplier Payment";
}

<form id="kt_ecommerce_add_customer_form" class="form d-flex flex-column flex-lg-row">
    <!--begin::Main column-->
    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <!--begin::General options-->
        <div class="card card-flush py-4">
            <!--begin::Card header-->
            <div class="card-header">
                <div class="card-title">
                    <h2>@_localizer["General"]</h2>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Input group-->
                <div class="mb-10 fv-row">
                    <!--begin::Label-->
                    <label class="required form-label">@_localizer["Supplier"]</label>
                    <select class="form-select mb-2"
                            data-control="select2" asp-for="SupplierId" asp-items="@(new SelectList(ViewBag.Suppliers,"SupplierId","Name"))">
                        <option value="">@_localizer["Select"]</option>
                    </select>
                </div>
                <div class="mb-10 fv-row">
                    <label class="form-label">@_localizer["Balance"]</label>
                    <input type="text" asp-for="Balance" disabled class="form-control mb-2" />
                </div>
                <div class="mb-10 fv-row">
                    <label class="required form-label">@_localizer["AmountPaid"]</label>
                    <input type="text" asp-for="Credit" class="form-control mb-2" />
                </div>
                <div class="mb-10 fv-row">
                    <label class="form-label">@_localizer["Remaining"]</label>
                    <input type="text" asp-for="Debit" disabled class="form-control mb-2" />
                </div>
            </div>
            <!--end::Card header-->
        </div>
        <!--end::General options-->
        <!--end::Automation-->
        <div class="d-flex justify-content-end">
            <!--begin::Button-->
            <a href="/Customer/Index" id="kt_ecommerce_add_customer_cancel" class="btn btn-light me-5">@_localizer["Cancel"]</a>
            <!--end::Button-->
            <!--begin::Button-->
            <button type="submit" id="kt_ecommerce_add_customer_submit" class="btn btn-primary">
                <span class="indicator-label">@_localizer["Submit"]</span>
                <span class="indicator-progress">
                    Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
            <!--end::Button-->
        </div>
    </div>
    <!--end::Main column-->
</form>

@section Scripts{

    <script src="~/js/pages/Supplier/supplierTransaction.js" asp-append-version="true"></script>
}

